# Ignore case for tab completion
set completion-ignore-case on

# Show color for prefix in tab completion
set colored-completion-prefix on

# Show different colors for different file types on tab completion
set colored-stats on

# Treat '-' and '_' as same for tab completion
set completion-map-case on

# Expand '~' when tab is pressed
set expand-tilde on
