[fetch]
    prune = true

[core]
    editor = nvim
    fsmonitor = true
    pager = delta
	autocrlf = true

[push]
    autoSetupRemote = true

[user]
	name = Alok Nigam
	email = aloknigam+odspmdb@microsoft.com

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/light.gitconfig
    path = ~/.gitconfig.orig

[delta]
    colorMoved = default
    commit-style = red
    file-added-label = 
    file-copied-label = 
    file-decoration-style = ""
    file-modified-label = " "
    file-removed-label = 󰆴
    file-renamed-label = 
    file-transformation = "s/$/  /"
    hunk-label = ""
    line-numbers = true
    line-numbers-left-format = "{nm:^1}│"
    line-numbers-right-format = "{np:^1}┃"
    navigate = true
    side-by-side = true
    true-color = always

[merge]
    conflictstyle = zdiff3
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED
    keepBackup = false

[diff]
    colorMoved = default
    tool = delta

[safe]
    directory = D:/Scoop/apps/scoop/current
    directory = D:/Scoop/buckets/versions
    directory = D:/Scoop/buckets/main
    directory = D:/Scoop/buckets/extras

[alias]
    ignore = update-index --skip-worktree
    unignore = update-index --no-skip-worktree
    ignored = !git ls-files -v | grep \"^S\"
[credential "azrepos:org/onedrive"]
	username = aloknigam@microsoft.com
