[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "neovim/packer.nvim"]
	path = neovim/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
